<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>GraphQL Learn</title>
</head>

<body>
  <div id="vue-app">
   <h1>{{post.title}}</h1>
   <p>{{post.body}}</p>
   <!-- <h2>{{}}</h2> -->
   <div>
     <h2>Customers</h2>
     <p v-for="customer in customers" :key="customer.id">
       {{customer.name}}
     </p>
   </div>
   <div>
     <h2>Customer</h2>
     <p>UserID: {{customer.id}}</p>
     <p>Name:  {{customer.name}}</p>
     <p>Email:  {{customer.email}}</p>
     <p><input v-model="userid" placeholder="type userid"></p>
     <p><button @click=getCustomer(userid)>Get Customer</button></p>
     
   </div>
  </div>
  <!-- Scripts -->
  <script src="./app.js"></script>
</body>

</html>